
@{
    ViewBag.Title = "Index";
}

@Html.Hidden("Get",Url.Action("Get","Category"))
<h2>Category Detail</h2>

<table class="table" id="tblInfo">
        <thead>
            <tr>
                 <th>Name</th>          
                <th>Description</th>
                <th>Alias</th>
            </tr>
           
           
        </thead>

</table>

